[submodule "make"]
	path = make
	url = https://github.com/jasiekj93/Stm32Make
[submodule "external/CppUTest"]
	path = external/CppUTest
	url = https://github.com/jasiekj93/cpputest
[submodule "external/etl"]
	path = external/etl
	url = https://github.com/etlcpp/etl
[submodule "external/littlefs"]
	path = external/littlefs
	url = https://github.com/jasiekj93/littlefs
	branch = aszczepanski
